<div class="wrapper">
        <div id="header">
	    <div class="vintage">
                <a href="{{ site.baseurl }}/">
                    <h1>Le Duy Quang</h1>
                </a>
                <a href="{{ site.baseurl }}/" class="le">Le</a>
                <a href="{{ site.baseurl }}/" class="d">D</a>
                <a href="{{ site.baseurl }}/" class="q">Q</a>
            </div>
            <ul id="nav">
                <li><a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li><a href="{{ site.baseurl }}/work.html">Work</a>
                </li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a>
                </li>
                <li><a href="{{ site.baseurl }}/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
