.compare-link-container{position:relative;visibility:hidden}
.compare-link{position:absolute;top:-60px}
.has-feature{color:#39AE40;text-align:center}
.hasnt-feature{color:#FF5D55;text-align:center}
.compare-builders tr td:last-child{font-size:12px}
.users img{display:inline-block;margin: 0 auto;text-align:left}
.builders a{display:inline-block;width:9em;line-height:1.2;margin:0 1em 1em 0}
.builders img{margin: 0 auto;border-radius:.2rem}
.builders .name{font-weight:400;display:block}
#logo{position:absolute;left:50%;margin-top:25px;margin-left:-540px}
#logo img{height:0}
#logo a{display:block;width:145px;height:41px;background:url(../images/ldqlogo.png) no-repeat 0 0;-webkit-transition:opacity .2s ease;-moz-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease}
#logo a:hover{opacity:.6}
.nav{width:100%;height:80px;background:#333}
.nav ul li{font:13px Verdana, 'Lucida Grande';font-weight:700;cursor:pointer;-webkit-transition:padding .05s linear;-moz-transition:padding .05s linear;-ms-transition:padding .05s linear;-o-transition:padding .05s linear;transition:padding .05s linear}
.nav ul li.drop{position:relative}
.nav ul > li{display:inline-block}
.nav ul li a{line-height:80px;height:80px;color:#777;-webkit-transition:all .1s ease-out;-moz-transition:all .1s ease-out;-ms-transition:all .1s ease-out;-o-transition:all .1s ease-out;transition:all .1s ease-out;padding:0 10px}
.nav ul li a:hover{color:#eee}
.nav .dropOut .triangle{width:0;height:0;position:absolute;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #FFF;top:-8px;left:50%;margin-left:-8px}
.nav .dropdownContain{width:160px;position:absolute;z-index:2;left:50%;margin-left:-80px;top:-400px}
.nav .dropOut{width:160px;background:#FFF;float:left;position:relative;margin-top:0;opacity:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 6px rgba(0,0,0,.15);-moz-box-shadow:0 1px 6px rgba(0,0,0,.15);box-shadow:0 1px 6px rgba(0,0,0,.15);-webkit-transition:all .1s ease-out;-moz-transition:all .1s ease-out;-ms-transition:all .1s ease-out;-o-transition:all .1s ease-out;transition:all .1s ease-out}
.nav .dropOut ul{float:left;padding:10px 0}
.nav .dropOut ul li{text-align:left;float:left;width:125px;color:#777;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-transition:background .1s ease-out;-moz-transition:background .1s ease-out;-ms-transition:background .1s ease-out;-o-transition:background .1s ease-out;transition:background .1s ease-out;margin:0 10px;padding:12px 0 10px 15px}
.nav .dropOut ul li:hover{background:#f6f6f6}
.nav ul li:hover a{color:#FFF}
.nav ul li:hover .dropdownContain{top:65px}
.nav ul li:hover .underline{border-bottom-color:#777}
.nav ul li:hover .dropOut{opacity:1;margin-top:8px}
.users,.nav ul{text-align:center}