<div class="wrapper_home">
        <div id="header">
            <div class="vintage">
                <a href="{{ site.baseurl }}/">
                    <h1>Le Duy Quang</h1>
                </a>
                <a href="{{ site.baseurl }}/" class="le">Le</a>
                <a href="{{ site.baseurl }}/" class="d">D</a>
                <a href="{{ site.baseurl }}/" class="q">Q</a>
            </div>
            <ul id="nav">
                <li class="active"><a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li><a href="{{ site.baseurl }}/work.html">Work</a>
                </li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a>
                </li>
                <li><a href="{{ site.baseurl }}/contact.html">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="top">
            <div class="intro">
                <h2>Xin chào, </h2>
                <p>Công việc chính của tôi là thiết kế website dựa trên nền tảng nguồn mở WordPress - OpenCart, Magento hay PrestaShop. Tuy không giỏi lập trình nhưng thiết kế giao diện người dùng là thế mạnh của tôi. Nếu bạn đang tìm một người thiết kế giao diện web/cms/shopping cart.</p>
                <p>Ngoài ra tôi có thể khởi tạo - xây dựng và quản lý hệ thống Adwords.</p>
                <p class="btn"><a href="#" class="ss-navigateright right">work@leduyquang.com</a>
                </p>
            </div>
        </div>
    </div>
