/* ------------------------------------------------------------------------------------
--  RESET
------------------------------------------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::selection{
	color:#fafafa;
	background:#96b98e;
}
::-moz-selection{
	background:#96b98e;
	color:#fafafa;
}
img{
	float:left;
	max-width:100%;
}
a{
	text-decoration:none;
	outline:none;
	color:#96b98e;
}
a:hover{
	color:#81a479;		
}
p{
	color:#808080;
	line-height:1.5em;
}

.icon{
	font-family:'Sosa';
}
/*.icon subclasses*/
.uppercase{
	text-transform:uppercase;
}
.lowercase{
	text-transform:lowercase;
}
/* ------------------------------------------------------------------------------------
--  GENERAL 
------------------------------------------------------------------------------------ */
html, body{ 
    width:100%;

    height:100%;
	margin: 0; 
	padding: 0;
	font-family:'Playfair Display SC', Georgia, serif;
	background:#96b98e;
}
html{
	font-size:100%;
	line-height:1;
}
@media screen and (max-width: 480px) {
html{
	font-size:90%;
  }
}
@media screen and (max-width: 400px) {
html{
	font-size:100%;
  }
}
/* ------------------------------------------------------------------------------------
--  GENERAL: SPANS
------------------------------------------------------------------------------------ */
.colour{
	color:#df2727;
}
/* ------------------------------------------------------------------------------------
--  GENERAL: ANCHOR TRANSITIONS
------------------------------------------------------------------------------------ */
a.trigger,
.jump-link a, 
a.readmore,
.shop-link input,
nav ul li,
nav ul li a,
.info-place-inner{
	-moz-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    transition: 500ms ease-in; 	
}
#main{
	margin: 0 auto;
	width:100%;/*960px*/
}
#main-content{
	float:left;
	width:100%;
	background:#fff;
}
/* ------------------------------------------------------------------------------------
--  MAIN CONTENT: HEADINGS
------------------------------------------------------------------------------------ */
h2{
	text-transform:uppercase;
	margin-bottom:20px;	
	line-height:1.3em;
}
h3{
	text-transform:uppercase;
	margin-bottom:20px;	
	font-size:0.9em;
	line-height:1.3em;
}
h4{
	text-transform:uppercase;
	margin-bottom:20px;	
	font-size:0.8em;
	letter-spacing:0.1em;
	line-height:1.3em;
}
/* ------------------------------------------------------------------------------------
--  MAIN CONTENT: LINES
------------------------------------------------------------------------------------ */
.lines{
	float:left;
	width:100%;
}
.line{
	float:left;
	width:100%;
	height:4px;
	background:#1e1e1e;
	margin-bottom:4px;
}
/* ------------------------------------------------------------------------------------
--  GENERAL: MAIN CONTENT: BUTTON LINK
------------------------------------------------------------------------------------ */
.jump-link{
	float:left;
	width:100%;
}
.jump-link a, 
a.readmore,
.shop-link input{
	padding:7px;
	background:#f24545;
	color:#fff;
	font-size:0.7em;
	letter-spacing:0.1em;
	border-right:4px solid #e13a3a;
	border-left:4px solid #f24545;
	text-transform:uppercase; 
}
.jump-link a{
	float:right;	
	display:block;
}
a.readmore{
	text-align:center;
	display:table;
	margin:20px auto;
}
.shop-link input{
	float:right;
	border-top:none;
	border-bottom:none;
	outline:none;
	cursor:pointer;
	font-family:'Oswald', sans-serif;	
}
.jump-link a:hover, 
a.readmore:hover,
.shop-link input:hover{
	border-right:4px solid #ef7e7e;
	border-left:4px solid #f24545;
}
/* ------------------------------------------------------------------------------------
--  HEADER
------------------------------------------------------------------------------------ */
header{
	float:left;
	width:100%;
}
/* ------------------------------------------------------------------------------------
--  HEADER: LOGO
------------------------------------------------------------------------------------ */
#logo{
	float:left;
	width:100%;
	background: #0a0803;
    background:-webkit-linear-gradient(top, #231c0c 0%, #0a0803 100%);
    background: -moz-linear-gradient(top, #231c0c 0%, #0a0803 100%);
    background: -o-linear-gradient(top, #231c0c 0%, #0a0803 100%);
    background: -ms-linear-gradient(top, #231c0c 0%, #0a0803 100%);	
}
#logo h1{
	float:left;
	width:96%;
	padding:4% 2%;	
}
#logo a{
	color:#fafafa;
	font-family:'Monda', sans-serif;
	font-size:1.5em;
	font-weight:700;
}
.annotation{
	color:#fff;
	text-transform:uppercase;
	font-size:0.8em;
	letter-spacing:0.2em;
}
/* ------------------------------------------------------------------------------------
--  HEADER: NAVIGATION
------------------------------------------------------------------------------------ */
#nav-wrap{
	float:left;
	width:100%;
    height:30px;
    margin-bottom:40px;
	position:relative;
	border-top:4px solid #d11f1f;
	background:#ae0002;
	background:-webkit-linear-gradient(top, #c50305 0%, #ae0002 100%);
    background: -moz-linear-gradient(top, #c50305 0%, #ae0002 100%);
    background: -o-linear-gradient(top, #c50305 0%, #ae0002 100%);
    background: -ms-linear-gradient(top, #c50305 0%, #ae0002 100%);
    background: -khtml-linear-gradient(top, #c50305 0%, #ae0002 100%);
}
.trigger-wrap{
    float:left;
    margin:25px 2%;
	background:#ce1518;
	box-shadow:inset 0 0 4px rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.1);	
	height:40px;
	padding:0 1%;
}
a.trigger{
	display:block;
	line-height:40px;
	color:#f0f0f0;
	padding:0 10px;
}
.navmenutitle{
	text-transform:uppercase;
	letter-spacing:0.15em;	
	font-size:0.9em;
	font-weight:700;
}
a.trigger .icon{
	vertical-align:middle;
	margin-right:8px;
}
a.trigger .close{
	display:none;	
}
a.active.trigger .close{
    display:inline;
}
a.active.trigger .gear{
	display:none;
}
.panel{
    position: absolute;
    top: 100px;
    left: 0;
	z-index:1;
    display: none;
	background:#d11f1f;
	background:-webkit-linear-gradient(top, #df2727 0%, #d11f1f 100%);
    background: -moz-linear-gradient(top, #df2727 0%, #d11f1f 100%);
    background: -o-linear-gradient(top, #df2727 0%, #d11f1f 100%);
    background: -ms-linear-gradient(top, #df2727 0%, #d11f1f 100%);
    background: -khtml-linear-gradient(top, #df2727 0%, #d11f1f 100%);
    height: auto;	
    width:100%;
}
nav{
	float:left;
	width:100%;
}
nav ul{
	float:left;
	width:100%;
	padding:0 0 2% 0;
	list-style:none;
}
nav ul li{
	float:left;
	width:100%;
	padding:1em 0;
	border-bottom:1px solid rgba(255,255,255,0.1);
	border-top:4px solid #d11f1f;
}
nav ul li:last-child{
	border-bottom:none;
}
nav ul li a{
	float:left;
	width:96%;
	padding:0 2%;
	color:#fff;
	text-transform:uppercase;
	font-size:0.8em;
	letter-spacing:0.1em;
	opacity:0.9;
    filter: alpha(opacity = 90);
    position:relative;
}
nav ul li:hover{
	border-top:4px solid #f24545;
}
nav ul li.current{
	border-top:4px solid #b21111;	
	font-weight:900;
}
nav a:hover{
	color:#f0f0f0;
	opacity:1;
    filter: alpha(opacity = 100);
}
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------
--  CONTENT 
------------------------------------------------------------------------------------ */
#content{
	float:left;
	width:96%;
	max-width:650px;
	padding:0 2% 40px 2%;
}
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------
--  CONTENT: PREFACE
------------------------------------------------------------------------------------ */
#preface{
	float:left;
	width:100%;
}
#preface h2{ /* for homepage */
	width:100%;
	font-size:1.3em;
	color:#808080;
	font-family:'Oswald', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-align:center;
	margin:0 0 40px 0;
}
.fig-wrap{/*for icon only, without text underneath*/
	float:left;
	width:100%;
	margin:0 0 40px 0;
}
figure#icon{
	margin:0 auto;
	width:60px;
	height:60px;	
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
figure#icon{
	margin:0 auto;
	width:60px;
	height:60px;	
}
}
#text{
	margin:0 auto;
	width:90%;
}
#text p{
	text-align:center;
	font-size:1.1em;
	margin:20px 0;
}
/* ------------------------------------------------------------------------------------
--  CONTENT: INFO PLACE 
------------------------------------------------------------------------------------ */
.info-place{
	float:left;
	width:100%;
}
.spacing{
	margin:0 0 20px 0;	
}
.info-place input{
	border-radius:0;
    -webkit-appearance: none;
}
/* ------------------------------------------------------------------------------------
--  CONTENT: RED LINE
------------------------------------------------------------------------------------ */
.red-line{
	float:left;
	width:100%;
	height:4px;
	background:#d11f1f;
}
.red-line-inner{
	float:left;
	width:40px;
	height:4px;
	background:#f24545;
}
.info-place .red-line{
	margin-bottom:20px;
}
/* ------------------------------------------------------------------------------------
--  CONTENT: PREV / NEXT BUTTONS
------------------------------------------------------------------------------------ */
#pagecount-place{
	float:left;
	width:100%;
	border-top:1px solid rgba(221,221,221,0.5);
}
#pagecount-inner{
	margin:0 auto;
	width:220px;
}
#pagecount-place a{
	float:left;
	display:inline;
	margin:20px 0 0 5px;
	width:80px;
}
/* ------------------------------------------------------------------------------------
--  CONTENT: SLIDE SWIPE
------------------------------------------------------------------------------------ */
.slide-right{
	float:right;
}
.slide-left{
	float:left;
}
#slide{
	float:left;
	margin-bottom:20px;
}
#slide ul{
	list-style:none;
	float:left;
	width:100%;
}
#slide li{
	float:left;
	background:#ce1518;
	box-shadow:inset 0 0 4px rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.1);
	padding:0 10px;
	height:30px;
	text-align:center;
}
.slide-right li{
	margin-left:10px;	
}
.slide-left li{
	margin-right:10px;	
}
#slide a{
	display:block;
	line-height:30px;
	color:#fafafa;
}
.swipe{
	float:left;
	width:100%;
}
.swipe ul, .swipe li{
	float:left;
	width:100%;
}
/* ------------------------------------------------------------------------------------
--  HOME PAGE: CONTENT: MAIN GALLERY
------------------------------------------------------------------------------------ */
.panelinfo{
	float:left;
	width:100%;
}
.panelinfo ul{
	float:left;
	width:100%;
	list-style:none;
}
.panelinfo li{
	float:left;
	width:32%;
	margin-right:2%;
}
@media screen and (max-width: 480px) {
.panelinfo li{
	width:100%;
	margin-right:0;
	margin-bottom:20px;
  }
}
.panelinfo li:last-child{
	margin-right:0;
}
.panelinfo figure{
	float:left;
	width:92%;
	background:#fafafa;
	padding:4%;
    border-bottom:4px solid rgba(221,221,221,0.3);
}
.panelinfo figure img{
	margin-bottom:20px;
}
.panelinfo a{
	float:left;
	width:100%;
	margin-bottom:10px;
	line-height:1.3em;
}
/* ------------------------------------------------------------------------------------
--  HOME PAGE: CONTENT: INFO-PLACE: BLOCKS OF INFO
------------------------------------------------------------------------------------ */
.info-place-inner{
	float:left;
	width:28%;	
	padding:2%;
	margin-right:2%;
	margin-bottom:20px;
	background:rgba(221,221,221,0.3);
}
.info-place-inner:last-child{
	margin-right:0;
}
@media screen and (max-width: 800px) {
.info-place-inner{
	width:92%;
	padding:4%;
  }
}
.info-place-inner h2{
	padding-bottom:10px;
	border-bottom:4px solid #fff;
}
.info-place-inner p{
	margin-bottom:20px;
}
/* ------------------------------------------------------------------------------------
--  HOME PAGE: CONTENT: INFO-PLACE: BLOCKQUOTE
------------------------------------------------------------------------------------ */
.quote{
	float:left;
	width:100%;
}
.quote blockquote{
	line-height:1.5em;
	font-style:italic;
	font-size:1.2em;
	color:#818181;
	text-align:center;
	margin:0 10% 20px 10%;
}
/* ------------------------------------------------------------------------------------
--   HOME PAGE: CONTENT: INFO-PLACE: LAST BLOCK
------------------------------------------------------------------------------------ */
.inner{
	float:left;
	width:92%;
	padding:4%;
	background:rgba(221,221,221,0.25);
	border-top:4px solid rgba(221,221,221,0.3); 
	margin-bottom:20px;
}
.inner:last-child{
	margin-bottom:0;
}
.inner h3{
	text-align:center;
}
.inner p{
	font-size:0.85em;
}
.inner a.readmore{
	margin-bottom:0;
}
/* ------------------------------------------------------------------------------------
--  INNER PAGES: GENERAL
------------------------------------------------------------------------------------ */
.info-place-inner2{
	float:left;
	width:92%;
	padding:4%;
	background:rgba(221,221,221,0.3);	
}
.info-place-inner2 h2{
	padding-bottom:10px;
	border-bottom:4px solid #fff;
}
.info-place-inner2 figure{
	float:left;
	width:92%;
	background:#fafafa;
	padding:4%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:20px;
}
.info-place-inner2 p{
	margin-bottom:20px;
	font-size:0.9em;
}
.extra-block{
	float:left;
	width:100%;
	margin:40px 0 0 0;
}
.extra-block h2{
	line-height:40px;
}
figure.icon-extra{
	float:left;
	width:40px;
	height:40px;
	margin:0 16px 0 0;
}
/* ------------------------------------------------------------------------------------
--  CATALOGUE PAGE: CONTENT: nothing to style
------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------
--  SINGLE PAGE: CONTENT: ITEM-BLOCK
------------------------------------------------------------------------------------ */
#item{
	float:left;
	width:100%;
	clear:both;
}
.date{
	float:left;
	width:100%;
}
.date h4{
	font-family:'Oswald', sans-serif;
	background:rgba(221,221,221,0.1);
	border-top:4px solid rgba(221,221,221,0.3);
	padding:0.8em;
	display:inline-block;
}
.image-place{
	float:left;
	width:33%;
	margin-right:3%;
}
@media screen and (max-width: 480px) {
.image-place{
	width:100%;
	margin-right:0;
  }
}
.description{
	float:right;
	width:64%;
}
@media screen and (max-width: 480px) {
.description{
	width:100%;
  }
}
.description ol,
.extras ol{ /* .extras refers to About page */
   counter-reset: li; /* Initiate a counter */
   list-style: none; /* Remove default numbering */
   *list-style: decimal; /* Keep using default numbering for IE6/7 */
   padding: 0 2%;
   margin: 0 0 20px 2%;
   width:94%;
}
.description ol p,
.extras ol a{ /* .extras refers to About page */
   position: relative;
   display: block;
   padding: .4em .4em .4em 2em;
   *padding: .4em;
   margin: .5em 0;
   background: rgba(246,239,219,0.15);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.description ol p:hover,
.extras ol a:hover{ /* .extras refers to About page */
   background: rgba(246,239,219,0.3);
}
.description ol p:before,
.extras ol a:before{ /* .extras refers to About page */
   content: counter(li);
   counter-increment: li;
   position: absolute; 
   left: -1.3em;
   top: 50%;
   margin-top: -1.3em;
   background:#f24545;
   height: 2em;
   width: 2em;
   line-height: 2em;
   border: .3em solid #fff;
   text-align: center;
   color:#fff;
   font-size:0.85em;
   text-shadow:none;
   border-radius: 2em;
   box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.tags{
	float:left;
	width:100%;
	padding-top:25px;
	border-top:1px solid rgba(221,221,221,0.5);
}
.tags h4{
	display:inline;
	margin-right:20px;
}
.tags a{
	font-family:'Oswald', sans-serif;
	font-size:0.8em;
	text-transform:uppercase;
	letter-spacing:0.1em;
	padding:5px 8px;
	margin:0 5px 5px 0;
	background:rgba(221,221,221,0.3);
}
/* ------------------------------------------------------------------------------------
--  SHOP PAGE + WANTED PAGE GENERAL
------------------------------------------------------------------------------------ */
.block{
	float:left;
	width:92%;
	padding:4%;
	margin:0 0 20px 0;
	background:rgba(221,221,221,0.2);
	border-top:4px solid rgba(221,221,221,0.3);
	clear:both;
}
.block h2{
	line-height:40px;
}
.block h3{
	font-family:'Oswald', sans-serif;
	padding:0 0 20px 0;
	border-bottom:1px solid #ddd;
	color:#808080;
}
.block p{
	margin-bottom:20px;
	font-size:0.9em;
}
.block-left{
	float:left;
	width:40%;
}
@media screen and (max-width: 480px) {
.block-left{
	width:100%;
  }
}
.block-right{
	float:right;
	width:56%;
}
@media screen and (max-width: 480px) {
.block-right{
	width:100%;
  }
}
.block figure{
	float:left;
	width:92%;
	background:#fafafa;
	padding:4%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:20px;
}
/* ------------------------------------------------------------------------------------
--  SHOP PAGE: INDIVIDUAL STYLES
------------------------------------------------------------------------------------ */
.price{
	float:left;
	width:100%;
	text-align:center;
}
@media screen and (max-width: 480px) {
.price{
	margin-bottom:20px;
  }
}
.price p{
	margin-bottom:0;
}
.shop-link{
	float:left;
	width:100%;
	clear:both;
}
.shop-link a{
	float:left;
	padding:7px 0;
}
.shop-link a:hover{
	padding:7px 7px 7px 7px;
}
/* ------------------------------------------------------------------------------------
--  WANTED PAGE: INDIVIDUAL STYLES
------------------------------------------------------------------------------------ */
.contact-link{
	float:left;
	width:100%;
	margin:20px 0 0 0;
}
.contact-link img{
	width:30px;
	height:30px;
	margin-right:16px;
}
.contact-link a{
	line-height:1.3em;
	font-size:0.9em;
}
/* ------------------------------------------------------------------------------------
--  ABOUT PAGE: INDIVIDUAL STYLES
------------------------------------------------------------------------------------ */
.extras{
	float:left;
	width:100%;
	margin-top:20px;
}
.extras ol{
	margin-bottom:0;
}
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------
--  CONTACT PAGE: INDIVIDUAL STYLES
------------------------------------------------------------------------------------ */
.contact-block{
	float:left;
	width:100%;
	clear:both;	
	background:rgba(221,221,221,0.3);
}
.white{
	background:#fff;
	padding:20px 0 0 0;
}
#point{ /* this div is required only for redirecting from previous page to certain location */
	position:absolute;
	top:0;
	visibility:hidden;
}
.iframe-wrap{
	float:left;
	width:90%;
	padding:5%;
	background:rgba(221,221,221,0.3);
	margin-bottom:20px;
}
iframe{
	float:left;
    width:100%;
	height:300px;
	border-bottom:4px solid rgba(221,221,221,0.6);
}
#map-plus{
	float:left;
    width:100%;
	margin-bottom:40px;
	padding-bottom:20px;
	border-bottom:1px solid rgba(221,221,221,0.5);
}
#map-plus a{
	text-transform:uppercase;
	font-size:0.8em;
}
#map-plus img{
	margin-right:10px;
	width:13px;
	height:20px;
}
.contact-block form{
	float:left;
	width:92%;
	padding:4%;
}
.contact-block fieldset{
	float:left;
	width:100%;
}
.contact-block label{
	float:left;
	width:100%;
	margin-bottom:16px;
}
.contact-block input.fields,
.contact-block textarea{
	float:left;
	width:96%;
	padding:3% 2%;
	border:none;
	border-bottom:1px solid #ddd;
	margin-bottom:26px;
	font-family:'Playfair Display', sans-serif;
	outline:none;
}
.captcha{
	float:left;
	width:96%;
	padding:2%;
	border:none;
	border-bottom:1px solid #ddd;
	margin-bottom:26px;
	font-family:'Playfair Display', sans-serif;
	outline:none;
}
.contact-block input{
	color:#555;
	font-size:1em;
}
.contact-block textarea{
	color:#808080;
	font-size:1.2em;
}
.button-submit{
	background:#f24545;
	border-top:4px solid #f24545;
	border:none;
	cursor:pointer;
	text-transform:uppercase;
	font-family:'Playfair Display', sans-serif;
	color:#fff;
	letter-spacing:0.1em;	
	text-align:center;
}
.button-submit:hover{
	border-top:4px solid #ef7e7e;
}
#button-submit-contact{
	float:left;
	padding:2%;
	color:#fff;
	border-right:4px solid #f24545;
	border-top:none;
	font-size:1.2em;
}
#button-submit-contact:hover{
	border-right:4px solid #ef7e7e;
	border-top:none;
}
.contact-block small{
	float:left;
	width:100%;
	font-size:0.9em;
	margin-bottom:26px;
}
.contact-block form img{
	float:left;
	margin-bottom:26px;
}
.asterisk{
	color:#D11F1F;
}
.error{
	color:#a80000;
	text-transform:uppercase;
	font-size:0.9em;
	background:#ffcccc;
	border:2px solid #FFA4A0;
	padding:0 2% 20px 2%;
}
#form-left{
	float:left;
	width:48%;
	margin-right:2%;
}
@media screen and (max-width: 480px) {
#form-left{
	width:100%;
	margin-right:0;
  }
}
#form-right{
	float:right;
	width:48%;
	margin-left:2%;
}
@media screen and (max-width: 480px) {
#form-right{
	width:100%;
	margin-left:0;
  }
}
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------
--  TERMS PAGE: nothing to style
------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------
--  THANKYOU PAGE: nothing to style
------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------
--  SITEMAP PAGE: INDIVIDUAL STYLES
------------------------------------------------------------------------------------ */
.lhead{
	float:left;
	margin-bottom:20px;
	text-transform:uppercase;
}
.lcount{
	color:#75966e;
}
.block table{
	width:100%;
}
.block tr{
	margin-bottom:20px;
	float:left;
	width:100%;
	background:rgba(221,221,221,0.3);
}
.block tr:last-child{
	margin-bottom:0;
}
.block td.lpage{
	float:left;
	padding:2%;
	background:rgba(221,221,221,0.4);
}
.block td.lpage a{
	text-transform:capitalize;
}
/* ------------------------------------------------------------------------------------
--  FOOTER
------------------------------------------------------------------------------------ */
footer{
	float:left;
	width:100%;
	background:#1e1e1e;
	margin:0;
}
footer p{
	font-family:'Oswald', sans-serif;
	letter-spacing:0.1em;
	color:#ccc;
	font-size:0.8em;
}
.footer-inner{
	float:left;
	width:92%;
	padding:4%;
}
.footer-inner h4{
	color:#fff;
	line-height:1.5em;
}
.footer-block{
	float:left;
	width:100%;
	margin:0 0 20px 0;
	padding:0 0 20px 0;
	border-bottom:1px solid rgba(221,221,221,0.1);
}
.footer-block:last-child{
	margin:0;
	border-bottom:none;
	padding:0;
}
.footer-block ul{
	float:left;
	width:100%;
	list-style:none;
	margin:0 0 20px 0;
}
.footer-block li{
	float:left;
	width:23.5%;
	margin-right:2%;
}
.footer-block li:last-child{
	margin-right:0;
}
.footer-block figure{
	float:left;
	width:100%;
}
.footer-block figure img{
	float:left;
	width:100%;
}
.footer-black{
	float:left;
	width:100%;
	background:#000;
	border-top:1px solid rgba(255,255,255,0.15);
}
footer small{
	color:#eee;
	font-size:0.8em;
}
footer p.inline{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.social a{
	float:left;
	margin-right:10px;
	display:inline-block;
}
.social img{/*in case you are going to insert image instead of background-image*/
	max-width:30px;
	max-height:30px;	
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
.social img{
	width:30px;
	height:30px;	
}
}
.fc-webicon{ 
	display: inline-block; 
    background-repeat:no-repeat;
    background-size:30px 30px; 
    width:30px;
    height:30px;
	text-indent: -999em; 
	text-align: left; 
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); 
	border-radius: 5px;  
}

a.scroll{
	float:right;
	display:block;
	background:#ce1518;
	box-shadow:inset 0 0 4px rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.1);
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	color:#fafafa;
}
